.wrapper {
  height: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
};

@media (min-width: $layout-breakpoint-desktop) {
  .wrapper {
    display: grid;
    grid-template-columns:
      minmax(var(--wrapper-padding-inline), 1fr)
      minmax(0, var(--wrapper-max-width))
      minmax(var(--wrapper-padding-inline), 1fr);

    grid-template-rows: 100%;
  };
};
