.header {
  background-color: var(--main-color);
  height: var(--header-height);
  font-size: 2rem;

  &-top {
    display: none;
  }

  &-body {
    height: 100%;
    background-image: url("../../../assets/images/background/yel-background.avif");
    background-repeat: no-repeat;
    background-size: cover;

    &-content {
      height: 100%;
    }
    
    &__container {
      height: 100%;
      text-align: center;
    }

    &-logo {
      object-fit: contain;
      height: 100%;
      cursor: pointer;
    }

    &-contacts {
      display: none;
    }
  }
}

@media (min-width: $layout-breakpoint-desktop) {
  .header {
    height: 12.5rem;
    &-top {
      display: block;
      background-image: url("../../../assets/images/background/black-background.avif");
      background-repeat: no-repeat;
      background-size: cover;

      height: 40%;
      text-align: right;
      color: wheat;
      &-title {
        grid-column: 2/3;
        align-self: center;
      }
    }
    &-body {
      height: 60%;

      &-content {
        display: flex;
        grid-column: 2/3;
      }

      &__container {
        flex: 1;
      }
      
      &-contacts {
        display: block;
        flex: 1;
        align-self: center;
        text-align: center;
      }
    }
  }
}
