.header {
  background-color: var(--main-color);
  height: 12.5rem;
  font-size: 2rem;

  &-top {
    background-image: url("../../../assets/images/black-background.png");
    background-repeat: no-repeat;
    background-size: cover;

    height: 40%;
    text-align: right;
    color: wheat;

    &-title {
      grid-column: 2/3;
      align-self: center;
    };
  };

  &-body {
    height: 60%;
    background-image: url("../../../assets/images/yel-background.png");
    background-repeat: no-repeat;
    background-size: cover;

    &-content {
      display: flex;
      grid-column: 2/3;
    };

    &__container {
      flex: 1;
    };

    &-logo {
      object-fit: contain;
      width: 100%;
      height: 100%;
      cursor: pointer;
    };
    
    &-contacts {
      flex: 1;
      align-self: center;
      text-align: center;
    };
  };
};
