.section-container {
    display: flex;
    gap: 1rem;

    grid-column: 2/3;

    &-article {
        flex: 1;
        align-self: center;

        &-title {
            text-align: center;
            font-size: 2rem;
        };

        &-content {
            text-align: center;
        };
    };

    &__image-box {
        flex: 1;
    };

    &__image {
        object-fit: contain;
        height: 100%;
        width: 100%;
    };
};